// Primary Colors
$orange: #ff5000;
$orange_dark: #e64d00;
$blue: #4b6baa;
$blue_dark: #34528c;
$blue_medium: #8fa3cc;
$blue_light: #edf2fa;
$white: #fff;
$black: #1c1c1c;
$green: #5db560;

// Text
$txt: #595959;
$txt_black: #1c1c1c;
$txt_gray: #8c8c8c;
$txt_gray2: #b3b3b3;

// Background
$bg_default: #f9f9f9;
$bg_lightgray: #efefef;
$bg_deepgray: #595959;
$bg_navigation: #e6e8eb;

// Border
$border: #e6e8eb;
$border_dark: #dadce0;
$border_light: #f0f2f5;
$border_black: #1c1c1c;

// Table
$ui_hover: #f1f8fd;

// Alert
$success: #18a856;
$alert: #db252e;

// Scroll
$scroll_track_size: 24px;